/build/
/modules/org.nbgames.branding/build/
/dist/
/modules/org.nbgames.branding/nbproject/private/
hs_err_pid*.log

/modules/org.nbgames.core/build/
/modules/org.nbgames.core/nbproject/private/
/nbproject/private/
/modules/org.nbgames.game.numberguesser/build/
/modules/org.nbgames.game.numberguesser/nbproject/private/
/modules/org.nbgames.numberguesser/nbproject/private/
/modules/org.nbgames.numberguesser/build/
/modules/org.nbgames.core.board/build/
/modules/org.nbgames.core.strategy/build/
/modules/org.nbgames.core.logic/build/
/modules/org.nbgames.core.card/build/
/modules/org.nbgames.core.arcade/build/
/modules/org.nbgames.core.dice/build/
/modules/org.nbgames.core.arcade/nbproject/private/
/modules/org.nbgames.core.board/nbproject/private/
/modules/org.nbgames.core.card/nbproject/private/
/modules/org.nbgames.core.dice/nbproject/private/
/modules/org.nbgames.core.logic/nbproject/private/
/modules/org.nbgames.gunu/build/
/modules/org.nbgames.gunu/nbproject/private/
/modules/org.nbgames.core.dice.data/build/
/modules/org.nbgames.yaya/build/
/modules/org.nbgames.core.dice.data/nbproject/private/
/modules/org.nbgames.yaya/nbproject/private/